<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |f| %>
      <%= render 'fields', form: f %>
      <div class="form-actions">
        <%= f.submit "Save changes", class: "btn btn-large btn-primary", id: "create" %>
        <%= f.button "Cancel", class: "btn offset1" %>
      </div>

    <% end %>

    <%= gravatar_for(@user) %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>