- if options[:accept]
  =form_tag(accept_friendship_path(friendship_id), method: :put) do
    =hidden_field_tag("friendship[friend_id]", subject.id)
    =button_tag "Accept", class: "btn btn-lg btn-success"
- if options[:reject]
  =form_tag(reject_friendship_path(friendship_id), method: :put) do
    =hidden_field_tag("friendship[friend_id]", subject.id)
    =button_tag "Reject", class: "btn btn-lg btn-danger"
- if options[:cancel]
  = form_tag(cancel_friendship_path(friendship_id), method: :put) do
    =hidden_field_tag("friendship[friend_id]", subject.id)
    =button_tag "Cancel", class: "btn btn-lg btn-warning"
- if options[:unfriend]
  = form_tag(friendship_path(friendship_id), method: :delete) do
    = hidden_field_tag("friendship[friend_id]", subject.id)
    = button_tag "Unfriend", class: "btn btn-lg btn-danger"
- if options[:requestable]
  = form_tag(friendships_path, method: :post) do
    = hidden_field_tag("friendship[friend_id]", subject.id)
    = button_tag "Send request", class: "btn btn-lg btn-primary"